@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-bg text-white font-sans;
}

.card {
  @apply bg-[#0f1724] rounded-lg shadow-md p-4;
}
